{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "importOrder": [
        "^@?(?!src|lib|docs|routes|plugins)\\w+",
        "^@plugins/(.*)$",
        "^@(src|routes|lib|)/(.*)$",
        "^@docs/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
