{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "importOrder": [
        "^@?(?!src|lib|docs|routes|plugins|layouts|pages|components|stories)\\w+",
        "^@plugins/(.*)$",
        "^@(src|routes|lib|)/(.*)$",
        "^@(pages|components|stories|layouts)/(.*)$",
        "^@docs/(.*)$",
        "^..?/"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
